@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3zr1ug');
  src:  url('fonts/icomoon.eot?3zr1ug#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3zr1ug') format('truetype'),
    url('fonts/icomoon.woff?3zr1ug') format('woff'),
    url('fonts/icomoon.svg?3zr1ug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-book:before {
  content: "\e91f";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-user:before {
  content: "\e971";
}
.icon-menu:before {
  content: "\e9bd";
}
